<div class="ui grid">
  <div class="one wide column">
      <img class="ui small circular image" src="{{message.pic}}"/>
  </div>
  <div class="fifteen wide column">
      <h2>{{message.message}}</h2>
      <div class="from">
        <p class="capitalizeFirst">{{message.username}}</p>
        <p>{{message.useragent}}</p>
      </div>
      <p class="when">{{message.date}}</p>
  </div>
</div>  